<div class='uk-grid'>
  <div class='uk-panel uk-align-center uk-width-1-2'>
    <table class="uk-table uk-align-center">
      <tr>
        <th class="uk-text-right">User Id:</th>
        <td><%= @user.id -%></td>
      </tr>
      <tr>
        <th class="uk-text-right">Name:</th>
        <td><%= @user.name -%></td>
      </tr>
      <tr>
        <th class="uk-text-right">Email:</th>
        <td><%= @user.email -%></td>
      </tr>
    </table>
  </div>
</div>
