<h5>Details</h5>
<table border="1" cellpadding="5" cellspacing="1">
  <tr>
    <th>Player</th>
    <td><%= @player.full_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @player.email %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= @player.phone %></td>
  </tr>
</table>
<p/>
<h5>Games Played</h5>
<p/>
